@import url("./style/core.css");
@import url("./style/fonts.css");
@import url("./style/header_top.css");
@import url("./style/burgerMenu.css");
@import url("./style/header_bottom.css");
@import url("./style/PregWomProg.css");
@import url("./style/program.css");
@import url("./style/yogaBreathing.css");
@import url("./style/joinNow.css");
@import url("./style/gallery.css");
@import url("./style/trainingVideo.css");
@import url("./style/contact.css");
@import url("./style/footer.css");