*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

a{
    display: block;
}

.wrapper{
    max-width: 1254px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 1439px){
    .wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
}



button{
    cursor: pointer;
    border: none;
}


input[type="submit"]{
    cursor: pointer;
}


@media screen and (max-width: 768px){
    .decor{
        display: none;
    }
}


