
footer{
    background-color: #484f5b;
}

.footer__block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 66px 76px 39px 69px;
}

@media screen and (max-width: 425px) {
    .footer__block{
        justify-content: unset;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        text-align: center;
    }
}

.footer__block>div{
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .footer__block>div{
        margin-bottom: 30px;
    }
}



.footer__block>div:not(:last-child){
    margin-right: 15px;
}


                                                                /*footer__yourCompany*/

.footer__yourCompany{
    max-width: 190px;
}

.footer__yourCompany__title{
    font-size: 25px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 29px;
}

@media screen and (max-width: 425px) {
    .footer__yourCompany__title{
        margin-bottom: 20px;
    }
}

.footer__yourCompany__text{
    font-size: 20px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    line-height: 1.4;
    margin-bottom: 36px;
}

@media screen and (max-width: 425px) {
    .footer__yourCompany__text{
        margin-bottom: 15px;
    }
}


.footer__yourCompany a{
    font-size: 20px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
}


                                                                    /*footer__siteMap, footer__loremIpsum, footer__sitAmet*/


.footer__siteMap ul, .footer__loremIpsum ul, .footer__sitAmet ul {
    font-size: 16.667px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 2.5px;
}


.footer__siteMap li a, .footer__loremIpsum li a,.footer__sitAmet li a{
    font-size: 16.667px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    margin-top: 9px;
    font-weight: normal;
}


.footer__siteMap li a:hover, .footer__loremIpsum li a:hover,.footer__sitAmet li a:hover{
    color: #efa497;
}




                                                            /*.footer__copyRight*/

.footer__copyRight{
    max-width: 270px;
    margin-top: -9px;
    margin-left: -1px;
}

@media screen and (max-width: 768px) {
    .footer__copyRight{
        max-width: 270px;
        margin-top: 0;
        margin-left: 0;
    }
}


.footer__img{
    margin-left: -1px;
    margin-bottom: 24px;
}


@media screen and (max-width: 768px) {
    .footer__img{
        margin-left: 0;
    }
}

.footer__copyRight p {
    font-size: 18.667px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-left: 13px;
    margin-bottom: 30px;
}


.footer__socialMedia{
    display: flex;
    margin-left: 13px;
}

@media screen and (max-width: 425px) {
    .footer__socialMedia{
        justify-content: center;
        margin-left: 0;
    }
}



.footer__socialImg {
    width: 22px;
    height: 22px;
    margin-right: 25px;
    background-color: #ffffff;
    box-shadow: 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
}

@media screen and (max-width: 425px) {
    .footer__socialImg:last-child {
        margin-right: 0;
    }
}


.footer__socialImg:hover{
    transform: translate(3px, 3px);
    box-shadow: none;
    transition-duration: 0.2s;
}
