.header__top .wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 10px;
}


.header__menuList{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}


.header__menuList a{
    font-size: 21px;
    font-family: "OpenSans";
    letter-spacing: 1.4px;
    color: rgb(72, 79, 91);
    margin-bottom: 15px;
}

.header__menuList a:hover{
    color: #e9a59d;
}


.header__menuList li:not(:last-child){
    margin-right: 73.3px;
}

