.joinNow{
    background: url("../img/joinNow/joinNow__back.png") no-repeat;
    background-size: cover;
}


@media screen and (max-width: 425px){
    .joinNow{
        background: #eae9e7;
    }
}


.joinNow>.wrapper{
    display: flex;
    justify-content: flex-end;
    padding-top: 113px;
    padding-bottom: 134px;
    padding-right: 4px;
}


@media screen and (max-width: 768px){
    .joinNow>.wrapper{
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 0;
    }
}

@media screen and (max-width: 425px){
    .joinNow>.wrapper{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


.joinNow__block{
    position: relative;
    width: 547px;
}

@media screen and (max-width: 425px){
    .joinNow__block{
        position: relative;
        max-width: 547px;
    }
}



.joinNow__desImg{
    position: absolute;
    top: -7px;
    left: -55px;
}



.joinNow__title{
    font-size: 60.699px;
    font-family: "OpenSans";
    color: rgb(72, 79, 91);
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 2.6px;
    max-width: 400px;
    margin-left: -13px;
    margin-bottom: 29px;
}

@media screen and (max-width: 768px){
    .joinNow__title{
        font-size: 45px;
        max-width: unset;
        margin-left: 0;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 425px){
    .joinNow__title{
        font-size: 40px;
        text-align: center;
    }
}



.joinNow__text{
    font-size: 21px;
    font-family: "OpenSans";
    color: rgb(72, 79, 91);
    line-height: 1.6;
    letter-spacing: 1.5px;
    margin-bottom: 39px;
}

@media screen and (max-width: 768px){
    .joinNow__text{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 425px){
    .joinNow__text{
        margin-bottom: 25px;
        text-align: center;
    }
}


.joinNow__button{
    background-color: rgb(230, 200, 195);
    width: 203px;
    height: 50px;
    font-size: 21px;
    font-family: "OpenSans";
    color: rgb(72, 79, 91);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 425px){
    .joinNow__button{
        margin-right: auto;
        margin-left: auto;
    }
}