.PregWomProg{
    background: url("../img/PregWomProg/pregBack.png");
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 425px){
    .PregWomProg .wrapper{
        text-align: center;
    }
}



.PregWomProg .wrapper{
    padding-top: 161px;
    padding-bottom: 175px;
    margin-top: -49px;
}

@media screen and (max-width: 768px){
    .PregWomProg .wrapper{
        padding-top: 100px;
        padding-bottom: 80px;
        margin-top: 0;
    }
}

@media screen and (max-width: 425px){
    .PregWomProg .wrapper{
        padding-top: 60px;
        padding-bottom: 40px;
        margin-top: 0;
    }
}




@media screen and (max-width: 425px){
    .PregWomProg .wrapper{
        padding-top: 60px;
        padding-bottom: 50px;
    }
}



.PregWomProg__block{
    max-width: 51%;
}

@media screen and (max-width: 768px){
    .PregWomProg__block{
        max-width: 100%;
    }
}


.PregWomProg__title{
    font-size: 82.327px;
    font-family: "OpenSans";
    color: rgb(72, 79, 91);
    font-weight: bold;
    line-height: 1.15;
    letter-spacing: 3px;
    margin-bottom: 54px;
    margin-left: -10px;
}

@media screen and (max-width: 768px){
    .PregWomProg__title{
        font-size: 50px;
        font-weight: bold;
        line-height: 1.15;
        letter-spacing: 3px;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media screen and (max-width: 425px){
    .PregWomProg__title{
        font-size: 40px;
    }
}


.PregWomProg__text{
    max-width: 88%;
    font-size: 21px;
    font-family: "OpenSans";
    color: rgb(72, 79, 91);
    line-height: 1.6;
    letter-spacing: 1.5px;
    margin-bottom: 79px;
}


@media screen and (max-width: 768px){
    .PregWomProg__text{
        max-width: 100%;
        font-size: 19px;
        margin-bottom: 40px;
    }
}

.PregWomProg__join{
    background-color: rgb(230, 200, 195);
    width: 203px;
    height: 50px;
    border: none;
    font-size: 21px;
    font-family: "OpenSans";
    color: rgb(72, 79, 91);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    .PregWomProg__join{
        margin-right: auto;
        margin-left: auto;
    }
}
