.yogaBreathing{
    position: relative;
    overflow: hidden;
    padding-bottom: 110px;
}

@media screen and (max-width: 768px){
    .yogaBreathing{
        padding-bottom: 70px;
    }
}


@media screen and (max-width: 425px){
    .yogaBreathing{
        padding-bottom: 30px;
    }
}



.yogaBreathing__desImg1{
    position: absolute;
    top: -9px;
    left: 0;
    z-index: 20;
}


.yogaBreathing__desImg2{
    position: absolute;
    bottom: -66px;
    left: 0;
    z-index: 20;
}



.yogaBreathing .wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){
    .yogaBreathing .wrapper{
        justify-content: unset;
        align-items: center;
        flex-direction: column;
    }

}

.yogaBreathing__left{
    width: 50%;
    position: relative;
    z-index: 50;
}

@media screen and (max-width: 768px){
    .yogaBreathing__left{
        width: 100%;
    }

}

.yogaBreathing__right{
    width: 50%;
}

@media screen and (max-width: 768px){
    .yogaBreathing__right{
        width: 100%;
    }
}



.yogaBreathing__title{
    max-width: 460px;
    font-size: 56.699px;
    font-family: "OpenSans";
    color: rgb(72, 79, 91);
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 5.8px;
    margin-top: 113px;
    margin-left: -9px;
    margin-bottom: 35px;
}

@media screen and (max-width: 768px){
    .yogaBreathing__title{
        max-width: unset;
        font-size: 50px;
        margin-top: 80px;
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 425px){
    .yogaBreathing__title{
        margin-top: 50px;
    }
}

@media screen and (max-width: 425px){
    .yogaBreathing__title{
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 20px;
        align-items: center;
    }
}



.yogaBreathing__text{
    max-width: 550px;
    font-size: 21px;
    font-family: "OpenSans";
    color: rgb(72, 79, 91);
    line-height: 1.6;
    letter-spacing: 1.5px;
    margin-bottom: 39px;
}


@media screen and (max-width: 768px){
    .yogaBreathing__text{
        max-width: unset;
        font-size: 19px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 425px){
    .yogaBreathing__text{
        align-items: center;
        margin-bottom: 20px;
    }
}




.yogaBreathing__learnMore{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 200, 195);
    width: 203px;
    height: 50px;
    font-size: 21px;
    font-family: "OpenSans";
    color: rgb(72, 79, 91);
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 425px){
    .yogaBreathing__learnMore{
        margin-right: auto;
        margin-left: auto;
    }
}


.yogaBreathing__img{
    position: relative;
    margin-top: 40px;
    margin-left: -1px;
    z-index: 50;
}

@media screen and (max-width: 1439px){
    .yogaBreathing__img{
        max-width: 100%;
    }
}

@media screen and (max-width: 768px){
    .yogaBreathing__img{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}


.yogaBreathing__imgDesImg1{
    position: absolute;
    top: -22px;
    left: -86px;
    z-index: 20;
}


.yogaBreathing__imgDesImg2{
    position: absolute;
    top: -15px;
    right: -61px;
    z-index: 20;
}

.yogaBreathing__imgDesImg3{
    position: absolute;
    bottom: -32px;
    left: -33px;
    z-index: 100;
}

.yogaBreathing__imgDesImg4{
    position: absolute;
    bottom: -59px;
    right: -57px;
    z-index: 100;
}
